<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
		<property name="hibernate.connection.password">kz0809</property>
		<property name="hibernate.connection.url">jdbc:sqlserver://localhost:1433;databaseName=TestDB</property>
		<property name="hibernate.connection.username">sa</property>
		<property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>

		<property name="show_sql">true</property>
		<property name="hibernate.format_sql">true</property>

		<property name="hibernate.connection.autocommit">true</property>
		<!-- 將session與本地線程綁定 -->
		<property name="hibernate.curent_session_context_class">thread</property>
		<!-- 允許自己控制Transaction -->
		<property name="hibernate.allow_update_outside_transaction">true</property>

		<!-- 以下設置物件與資料庫表格映射文件 -->

		<mapping resource="com/calix/bean/Information.hbm.xml" />
	</session-factory>
</hibernate-configuration>
